# Google_Plystore_eda

#### **Author name:** `Muhammad Salman Saleem`
 **Instagram:** [zzalman0](https://www.instagram.com/zzalman0/)\
 **Facebook:** [zzalman0](https://web.facebook.com/zzalman0/)\
 **Linkdin:** [muhammadsalman010](https://www.linkedin.com/in/muhammadsalman010/)\
 **Github:** [zzalman](https://github.com/zzalman)\
 **Kaggle:** [zzalman](https://www.kaggle.com/zzalman)\
 **Email:** salman793440@gmail.com

Dataset source [link](https://www.kaggle.com/datasets/lava18/google-play-store-apps/data)

## Description:

contains the details of the applications on Google Play. There are total 13 features

### Features:

**App:** This tells the name of application.

**Category:** This tells in which category application falls.

**Rating:** This tells the overall rating of application.

**Reviews:** This tells the number of reviews of application.

**Size:** It is the size of application in megabyte.

**Install:** This shows the total number of downloads.

**Types:** Types tells the avaliablity of software paid or free. 

**Price:** Price tells the cost of application purchase.

**Content Rating:** Who can provides the rating.

**Genres:** This tells the same thing like category.

**Last Updated:** This tells that when the last time application updates.

**Current version:** What is the current version of applicaiton.

**Android varsion:** It tells which android version mobile is capable to download this application.

## First we see automatic eda using ydata-profiling then do manually

In [54]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# import ydata_profiling as yp

In [55]:
# df = pd.read_csv("data sets\googleplaystore.csv")

In [56]:
# automatic EDA report
# profiling_report = yp.ProfileReport(df)
# profiling_report.to_file("google_playstore_eda_report_corrected.html")

in previwe of data there is one record which couse abnormilality in our data set so first we have to fix it

In [57]:
# anomili_01 = df[df['Installs']=='Free']

here you can see that in install it should be numbers but its a free and also 
if you see other column data of this record is not correct so I will dorp this record you can do other things with this as well

In [58]:
# df[df['Installs']=='Free']

we edit or drop and there are many other options as well
here I will edit the csv file manually but you can do as per your requirment.

Now Manually so I change my kernal that's why i comment out my all previous codes

In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [60]:
df = pd.read_csv("data sets\googleplaystore.csv")

<>:1: SyntaxWarning: "\g" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\g"? A raw string is also an option.
<>:1: SyntaxWarning: "\g" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\g"? A raw string is also an option.
C:\Users\Hp-pc\AppData\Local\Temp\ipykernel_7568\1830182597.py:1: SyntaxWarning: "\g" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\g"? A raw string is also an option.
  df = pd.read_csv("data sets\googleplaystore.csv")

In [61]:
df[df['Installs']=="Free"]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

now check the data

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

In [63]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [64]:
# Take a look on random sample of 
df.sample(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1034,FM News,EVENTS,NaN,46,3.6M,"5,000+",Free,0,Everyone,Events,"July 4, 2018",1.4,4.2 and up
4586,Tumblr,SOCIAL,4.4,2953886,Varies with device,"100,000,000+",Free,0,Mature 17+,Social,"August 1, 2018",Varies with device,Varies with device
3011,NFL,SPORTS,4.1,459795,Varies with device,"50,000,000+",Free,0,Everyone,Sports,"August 2, 2018",Varies with device,Varies with device
7639,MobileBiz Co - Cloud Invoice,BUSINESS,4.4,373,4.0M,"10,000+",Free,0,Everyone,Business,"February 16, 2018",1.3.4,2.0 and up
3666,All Video Downloader 2018,VIDEO_PLAYERS,4.3,7557,5.6M,"1,000,000+",Free,0,Everyone,Video Players & Editors,"July 25, 2018",1.0.1,4.4 and up

In [65]:
df.describe()

            Rating       Reviews
count  9367.000000  1.084100e+04
mean      4.191513  4.441119e+05
std       0.515735  2.927629e+06
min       1.000000  0.000000e+00
25%       4.000000  3.800000e+01
50%       4.300000  2.094000e+03
75%       4.500000  5.476800e+04
max       5.000000  7.815831e+07

write down all the numeric columns in the dataset and make them numeric datatype

1.size
2.Install
3.Price

Size Variable correction

In [66]:
df['Size'].value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
430k                     1
429k                     1
200k                     1
460k                     1
619k                     1
Name: count, Length: 461, dtype: int64

varies with devices means null values so we will replace them with nan

In [68]:
df['Size'] = df['Size'].replace('Varies with device',np.nan)

In [69]:
df['Size'].value_counts()

Size
11M     198
12M     196
14M     194
13M     191
15M     184
       ...
430k      1
429k      1
200k      1
460k      1
619k      1
Name: count, Length: 460, dtype: int64

In [71]:
df['Size_MB'] = np.nan

kb_mask = df['Size'].str.endswith('k', na=False)
mb_mask = df['Size'].str.endswith('M', na=False)

df.loc[kb_mask, 'Size_MB'] = (
    df.loc[kb_mask, 'Size']
    .str.replace('k', '', regex=False)
    .astype(float) / 1024
)

df.loc[mb_mask, 'Size_MB'] = (
    df.loc[mb_mask, 'Size']
    .str.replace('M', '', regex=False)
    .astype(float)
)

In [72]:
df.drop(columns=['Size'], inplace=True)

In [73]:
df.rename(columns={'Size_MB':'Size'}, inplace=True)

In [74]:
df['Size'].head()

0    19.0
1    14.0
2     8.7
3    25.0
4     2.8
Name: Size, dtype: float64

here you can see we corretly handel with this variable now remeaning two are easy

In [75]:
df.head(3)

,App,Category,Rating,Reviews,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Size
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,19.0
1,Coloring book moana,ART_AND_DESIGN,3.9,967,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,14.0
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,8.7

In [76]:
df['Price'].value_counts()

Price
0         10041
$0.99       148
$2.99       129
$1.99        73
$4.99        72
          ...
$19.90        1
$1.75         1
$14.00        1
$4.85         1
$1.04         1
Name: count, Length: 92, dtype: int64

In [84]:
df['Type'].value_counts()

Type
Free    10040
Paid      800
Name: count, dtype: int64

In [89]:
df['Price'] = df['Price'].str.replace('$', '', regex=False)

In [90]:
df['Price'].value_counts()

Price
0        10041
0.99       148
2.99       129
1.99        73
4.99        72
         ...
19.90        1
1.75         1
14.00        1
4.85         1
1.04         1
Name: count, Length: 92, dtype: int64

In [93]:
df['Price'] = df['Price'].astype(float)

ok so we convert 2 variable so far one remianing for that we can make bins for make categorical type install

In [94]:
df['Installs'].value_counts()

Installs
1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             908
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Name: count, dtype: int64

In [95]:
df['Installs'] =( df['Installs']
    .str.replace('+', '', regex=False)
    .str.replace(',', '', regex=False)
    .astype(int))

In [98]:
df['Installs'].unique()

array([     10000,     500000,    5000000,   50000000,     100000,
            50000,    1000000,   10000000,       5000,  100000000,
       1000000000,       1000,  500000000,         50,        100,
              500,         10,          1,          5,          0])

In [100]:
bins = [-1, 0, 100, 10_000, 1_000_000, 100_000_000, 1_500_000_000]
labels = [
    'No installs',
    'Very Low',
    'Low',
    'Medium',
    'High',
    'Very High'
]

df['Install_Category'] = pd.cut(
    df['Installs'],
    bins=bins,
    labels=labels
)

In [102]:
df.sample(5)

,App,Category,Rating,Reviews,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Size,Install_Category
3922,Amazon Shopping,SHOPPING,4.3,908525,100000000,Free,0.00,Teen,Shopping,"July 31, 2018",16.14.0.100,4.4 and up,42.0,High
3446,"GO Keyboard - Emoticon keyboard, Free Theme, GIF",PERSONALIZATION,4.4,2591941,100000000,Free,0.00,Everyone,Personalization,"July 20, 2018",Varies with device,Varies with device,NaN,High
3133,JAL (Domestic and international flights),TRAVEL_AND_LOCAL,3.4,2277,1000000,Free,0.00,Everyone,Travel & Local,"May 7, 2018",4.4.7,4.0.3 and up,27.0,Medium
5834,Ay Yıldız - Xperia Live Theme,PERSONALIZATION,NaN,0,10,Paid,0.99,Everyone,Personalization,"December 26, 2017",1.0.0,4.4 and up,2.9,Very Low
9687,Masha and the Bear: Good Night!,FAMILY,4.6,29155,1000000,Free,0.00,Everyone,Educational;Pretend Play,"July 26, 2018",1.0.4,4.1 and up,83.0,Medium

so we have done to create and convert 3 variable into numeric data type and we have done great feature enginring so far

## Missing Values
now we are handling missing values